* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

.slide-wrapper {
	overflow: hidden;
	padding: 5px 0;

	.slide {
		display: flex;

		&:hover {
			will-change: transform;
		}

		li {
			width: 80vw;
			flex-shrink: 0;
			max-width: 800px;
			margin: 0 20px;
			overflow: hidden;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
			opacity: 0.8;
			transform: scale(0.8);
			transition: 0.3s;

			&.active {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
